* {
    margin: 0;
    display: border-box;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;
}

header {
    font-size: 5vmin;
    text-align: center;
    margin-top: 5vmin;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    background-color: gray;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    font-size: 15vmin;
    text-align: center;
    color: white;

}

button {
    font-size: 20px;
    padding: 5px;
}


img {
    height: 100%;
    width: 100%;
    text-align: center;
}


